.main
  .main__top
    .main__top__text
      = "生徒:'#{@student.name}'さんの報告書一覧から検索"
    %input#input-text{name: "title", placeholder:"半角スペース 複数条件検索可 例)田中 一郎", type: "text", value: ""}
      .main__top__search
        = "'#{@student.name}'さんの報告書件数:#{@result}件"
%table.main-table
  %thead
    %tr
      %th 作成日
      %th 主な内容
      %th 教科
      %th 先生
      %th 生徒名
      %th 学年
      %th 詳細
  - @reports.each do |report|
    %tr
      %td  
        = report.day
      %td 
        = report.title
      %td  
        = report.subject_i18n
      %td
        = report.user.name 
      %td  
        = report.student.name
      %td  
        = report.student.grade_i18n
      %td
        = link_to "詳細", report_path(report), class: "sign-in-btn" 