.registration-container  
  %h2.user-information
    ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :氏名
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "name"
      .field
        = f.label :パスワード
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
      #actions-regist-login
        = f.submit "ログイン", class:"actions-regist-login"

= render "devise/shared/links"
